In [18]:
import pandas as pd
import datetime

In [19]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
history = pd.read_csv("historical_transactions.csv")
new_trans = pd.read_csv("new_merchant_transactions.csv")

In [26]:
def binarize(df):
    for col in ['authorized_flag', 'category_1']:
        df[col] = df[col].map({'Y':1, 'N':0})
    return df

In [27]:
def castDate(df):
    df['first_active_month'] = pd.to_datetime(df['first_active_month'])
    df['elapsed_time'] = (datetime.date(2018,2,1) - df['first_active_month'].dt.date).dt.days
    return df

In [31]:
train = castDate(train)
test = castDate(test)
history = binarize(history)
new_trans = binarize(new_trans)

In [33]:
train.head()

,first_active_month,card_id,feature_1,feature_2,feature_3,target,elapsed_time
0,2017-06-01,C_ID_92a2005557,5,2,1,-0.820283,245
1,2017-01-01,C_ID_3d0044924f,4,1,0,0.392913,396
2,2016-08-01,C_ID_d639edf6cd,2,2,0,0.688056,549
3,2017-09-01,C_ID_186d6a6901,4,3,0,0.142495,153
4,2017-11-01,C_ID_cdbd2c0db2,1,3,0,-0.159749,92

In [34]:
history = pd.get_dummies(history, columns=['category_2','category_3'])
new_trans = pd.get_dummies(new_trans, columns=['category_2','category_3'])

In [39]:
pd.Series.value_counts(new_trans['month_lag'])

1    1027617
2     935414
Name: month_lag, dtype: int64